<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js"></script>
    <link rel="shortcut icon" href="/media/logo.png">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/admin.css">
    <!-- Style -->
    <title>Admin page</title>



  </head>
  <body>
  <div class="content">
    <div class="container">
      <center>
        <div class="admin">
          <h2>Administration page</h2><br><br>
          
        </div>
        <hr style="margin-left:0; margin-left: 300px; width:50%; height:3px; border-width:0; color:grey; background-color:grey">
        <div class="sort"><b>
          <a href="/admin/name">Name</a> |
          <a href="/admin/lastname">Last name</a> |
          <a href="/admin/username">Username</a> |
          <a href="/admin/email">Email</a> |
          <a href="/admin/password">Password</a></b>
        </div>

        <hr style="margin-left:0; margin-left: 300px; width:50%; height:3px; border-width:0; color:grey; background-color:grey">
        
        <h2 style ="color: aliceblue;">Sorting by <%= sort.by %></h2>
      </center>
    <div class="container">

      <div class="table-responsive">

        <table class="table table-striped custom-table">
          <thead>
            <tr>
              
              <th scope="col">№</th>
              <th scope="col">Name</th>
              <th scope="col">Surname</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
              <th scope="col">Create</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>

          <% for(var i=0; i < data.length; i++) { %>
          <tr scope="row" class="line">
            <form action="/admin" method="post">
                      <td>
                        <%= i + 1 %>
                      </td>
              <td style="display: none"><input type="text" name="id" value="<%= data[i]._id %>"></td>
              <td><input type="text" name="name" value="<%= data[i].name %>"></td>
              <td><input type="text" name="surname" value="<%= data[i].lastname %>"></td>
              <td><input type="text" name="username" value="<%= data[i].username %>"></td>
              <td><input type="text" name="email" value="<%= data[i].email %>"></td>
              <td><input type="text" name="password" value="<%= data[i].password %>"></td>
              <td><input type="submit" value="Change a data" class="change"></td></form>
            <td><form action="/delete" method="post"><input type="text" name="index" value="<%= data[i]._id %>" style="display: none;"><input type="submit" value="Delete" class="delete"></form></td>
            </tr>
          <% } %>



          <tr class="line">
            <form action="/create" method="post">
              <td>#</td>
              <td><input type="text" name="namecreate" placeholder="Enter a name"></td>
              <td><input type="text" name="surnamecreate" placeholder="Enter a surname"></td>
              <td><input type="text" name="usernamecreate" placeholder="Enter a username"></td>
              <td><input type="text" name="emailcreate" placeholder="Enter a email"></td>
              <td><input type="text" name="passwordcreate" placeholder="Enter a password"></td>
              <td style="border-right: 0"><input type="submit" value="Create a user" class="change"></td>
              <td style="border-left: 0"></td>
            </form>
          </tr>
          <tr class="last" style="display: none;"></tr>
            
          </tbody>
        </table>
      </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        const btn = document.getElementById('add');

        function addUser(){
          console.log('click');
          $('.last').replaceWith(
                  `<tr class="line">
               <form action="/create" method="post">
                    <td>#</td>
                    <td><input type="text" name="namecreate" placeholder="Enter a name"></td>
                    <td><input type="text" name="surnamecreate" placeholder="Enter a surname"></td>
                    <td><input type="text" name="usernamecreate" placeholder="Enter a username"></td>
                    <td><input type="text" name="emailcreate" placeholder="Enter a email"></td>
                    <td><input type="text" name="passwordcreate" placeholder="Enter a password"></td>
                    <td><input type="submit" value="Create a user" class="change"></td>
                    <td></td>
               </form>
          </tr>`
          );
        };

        btn.addEventListener('click', function(){
          addUser();
        });
      </script>
    </div>

  </div>

  </body>
</html>